body, html, p, ul, h1, h2, h3 {
    margin: 0;
    padding: 0;
}

html {
    border-top: 8px solid #898ffc;
}

body {
    margin: 20px;
    margin-bottom: 50px;
    text-align: center;
    font-family: 'Cormorant Garamond', serif;
    font-size: 1.3rem;
    line-height: 1.4;
}

h1, h2, h3 {
    line-height: 1.1;
}


/* --------------------- Images */
.imageRow {
    margin: 0 -20px; /* reverse out body padding */
    margin-bottom: 50px;
}
.imageRow > * {
    margin-top: 20px;
    vertical-align: middle;
    max-width: 100%;
}


/* --------------------- Text */
p {
    margin-bottom: 10px;
}

.items ul {
    list-style: none;
}

.items li {
    max-width: 30em;
    margin: 0 auto;
    margin-bottom: 50px;
    text-align: left;
}

.items .text {
    text-align: left;
}

.items .name {
    border-top: 1px solid #ddd;
    padding-top: 5px;
}

.muted {
    color: #999;
}

.button {
    display: inline-block;
    background-color: #3f51b5;
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 3px;
    font-weight: bold;
}
.button:active, .button:hover {
    background-color: #2f3c88;
}
.button.big {
    padding: 20px 50px;
    border-radius: 5px;
}
.button.secondary {
    color: #3f51b5;
    background-color: transparent;
    border: 1px solid rgba(0,0,0,0.2);
    text-decoration: underline;
}
.button.secondary:active, .button.secondary:hover {
    background-color: rgba(0,0,0,0.1);
}
.button + .button {
    margin: 0 10px;
}